# Created by .ignore support plugin (hsz.mobi)  
  
.idea/  
  
## File-based project format:  
*.exe
*.a
bin/*
*-journal
*.db-journal
*.iml
db/database.db
conf/config.json
!bin/nssm.exe*
logs/debug.log
logs/info.log
logs/error.log
html/admin/*